.button-menu {
    color: white;
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
    line-height: 1.6;
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer;
}

.button-menu:hover, .presed {
    color: rgb(238, 90, 0);
}

@media (max-width: 819px){
    .button-menu {
        margin: 4px 0;
    }
}
